body,
h1 {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0);
  margin: 0;

}

.navigation-links {
  display: flex;
  gap: 20px
}

.navigation-links a {
  display: flex;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  font-size: 20px;
}

.navigation-links a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.image-logo {
  height: 80px
}

.nav-right {
  display: flex;
  gap: 15px;
  margin-right: 1%;
}

.navigation-2,
.navigation-3 {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
}

.navigation-2:hover,
.navigation-3:hover {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
}