.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

.navigation-links {
  display: flex;
  gap: 20px;
}

.navigation-links a {
  display: flex;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  font-size: 20px;
}

.navigation-links a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.image-logo {
  height: 80px;
}

.image-logo:hover {
  filter: brightness(0.5);
}

.nav-right {
  display: flex;
  gap: 15px;
  margin-right: 1%;
}

.navigation-2,
.navigation-3 {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  position: relative;
  /* Make sure the cart icon container has relative positioning */
}

.navigation-2:hover,
.navigation-3:hover {
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Badge style */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

.cart-badge.visible {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}