/* Base page styling */
.page {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  width: 100%;
  min-height: 100vh;
}

/* Header */
.order-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.order-header h1 {
  margin: 5px;
  font-size: 24px;
  color: #333;
}

/* Orders container */
.orders-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Total order container */
.total-order {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Cart items styling */
.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.cart-items img {
  border-radius: 4px;
  object-fit: cover;
}

.cart-items p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.cart-items p:nth-child(1) {
  flex: 2;
}

.cart-items p:nth-child(2) {
  flex: 1;
}

.cart-items p:nth-child(3) {
  flex: 1;
}

.cart-items p:nth-child(4) {
  flex: 1;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  padding: 20px
}

.pagination button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #cdc3c3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
  color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .orders-container {
    width: 90%;
  }

  .cart-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-items p {
    margin: 5px 0;
    font-size: 14px;
  }
}