.footer-container {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 300px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px
}

.pdf-menu {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-top: 20px;
}

.pdf-menu a:hover {
  text-decoration: underline;
}

.pdf-menu a:visited {
  color: white;
  /* Prevents the link from turning purple after being visited */
}

.link-pages {
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: row;
  justify-content: center;
  gap: 10px
}

.link-pages a,
.link-pages .react-router-dom__link {
  text-decoration: none;
  /* Remove underline */
  color: white;
  /* Set text color to white */
}